.Home {
  position: relative;
  color: $text-light;
  min-height: 100vh;

  &__container {
    @include Container;
    margin-top: 5rem;
    @include breakpoint-down(medium) {
      margin-top: 8rem;
    }
  }

  &__title {
    margin-bottom: 2.5rem;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 4rem;
    font-size: 3rem;
    width: 80%;
    @include breakpoint-down(medium) {
      width: 80%;
      line-height: 4rem;
    }

    @include breakpoint-down(small) {
      width: 90%;
      font-size: 2rem;
    }
    @include breakpoint-down(xs) {
      font-size: 1.6rem;
      line-height: 2.4rem;
      letter-spacing: 1;
      width: 80%;
    }
  }

  &__subtitle {
    font-size: $heading-4;
    font-style: normal;
    font-weight: bold;
    color: $text-gray;
    letter-spacing: 2px;
    line-height: 2.2rem;
    // @include breakpoint-down(medium) {
    //   width: 70%;
    // }

    @include breakpoint-down(small) {
      font-size: $heading-4;
      width: 80%;
    }
    // @include breakpoint-down(xs) {
    //   width: 70%;
    // }
  }

  .customBtn {
    margin-top: 2rem;
    padding: 0.8rem 2rem;
    font-size: 1rem;

    @include breakpoint-down(xs) {
      padding: 0.8rem 1.6rem;
      font-size: 0.8rem;
    }
  }

  .hero__img {
    @include breakpoint-down(large) {
      height: 25rem !important;
    }

    @include breakpoint-down(medium) {
      margin-top: 1rem;
      height: 400px !important;
      width: 70%;
      object-fit: fill;
      margin-left: -4rem;
    }

    @include breakpoint-down(small) {
      max-height: 296px;
      width: 80%;
      object-fit: fill;
    }
    @include breakpoint-down(xs) {
      margin-top: 2rem;
      margin-left: -10vw;
      max-height: 170px;
      max-width: 75%;
      object-fit: fill;
    }
  }
  footer {
    width: 100%;
    position: fixed;
    bottom: 0%;
    text-align: center;
    background-color: $bg-navbar;
    padding: 10px;
    color: $text-gray;
    @include breakpoint-down(small) {
      text-align: left;
      font-size: 0.6rem;
      padding: 25px 10px;
    }
  }
}
@media screen and (max-width: 990px) and (min-width: 740px) {
  .hero__img {
    max-height: 220px !important;
    max-width: 80%;
    margin-top: -3rem;
    object-fit: cover;
  }
}
