.rotate {
	color: $text-light;
	min-height: 100vh;
	overflow-x: hidden;
	max-width: 90vw !important;
	&__container {
		@include Container;
		margin-top: 5rem;
	}

	&__content {
		.options {
		
			&__container {
				margin-top: 2rem;
				margin-bottom: 1rem;
				width: 80%;
				input[type='number'] {
					display: inline-block;
					width:100%;
					background-color: $bg-navbar;
					box-shadow: inset 0px 0px 10px silver;
					color: $text-light;
					height: 50px;
					border: none;

					@include breakpoint-down(xs) {
						width: 25vw;
						margin: 0 10px;
					}
				}

				label {
					margin-right: 20px;
					font-weight: bold;
					font-size: 1.1rem;
                    color: $text-gray;
                    text-transform: capitalize;
				}
				@include breakpoint-down(xs) {
					margin-top: 0rem;
				}
			}
		}
	}
	.customBtn {
        margin-top: 1rem;
		@include breakpoint-down(xs) {
			font-size: 0.7rem !important;
            margin-left: 5px;
            padding: 0.7rem 2rem;
            
		}
	}
}
