//sidenavbar starts

.sideNav {
  background: $bg-navbar;
  margin-top: 0px;
  padding-top: 30px;
  position: fixed;
  top: 49px;
  right: -190px;
  width: 250px;
  height: 100%;
  transition: right 0.7s ease-in;
  z-index: $sidenav-index;

  &__menu {
    overflow: hidden;
    margin-top: 20px;

    @include Flex(column, space-around);

    a {
      margin-top: 1rem;
      font-size: 2.2rem;
      width: 100%;
      display: block;
      line-height: 100px;
      padding-left: 20px;
      text-decoration: none;
      position: relative;
      color: $text-light;
      &::after {
        content: "";
        position: absolute;
        top: 0%;
        left: 0%;
        background-color: $bg-secondary;
        color: $text-light;
        height: 100%;
        width: 0%;
        z-index: -2;
        transition: width 0.7s ease-in;
      }
      &:hover::after {
        width: 100%;
      }

      .iconify {
        padding-right: 10px;
      }
      .right {
        display: none;
      }

      &[href="/compress"] {
        font-size: 1.8rem;
      }
      &.true {
        background-color: $bg-secondary;
      }
    }
  }

  &.open {
    right: -50px;
    a {
      text-transform: capitalize;
      letter-spacing: 1px;
      font-weight: bold;
      font-size: 2rem;
      margin-left: -18px;
      padding-left: 40px;
      .right {
        display: inline;
        font-size: 0.9rem;
      }
      .iconify {
        display: inline;
      }
      &[href="/compress"] {
        font-size: 1.7rem;
      }
    }
  }

  &__toggle {
    position: fixed;
    top: 1rem;
    right: 2%;
    z-index: $toggle-index;
    cursor: pointer;
    i {
      font-size: 1.2rem;
      color: $text-light;
    }

    @include breakpoint-down(small) {
      visibility: hidden;
    }
  }
}

//sidenavbar ends
