@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

$bg-primary: #0e1a31;
$bg-navbar: #010b1d;
$bg-secondary: darken(#f76d6d, 5%);
$text-light: #ffffff;
$text-gray: rgba(255, 255, 255, 0.81);
$bg-light: #f76d6d;
$light-shadow:0px 0px 5px silver;

$primary-family: "Poppins", sans-serif;

$sidenav-index: 10;
$topnav-index: 12;

$heading-1: 4rem;
$heading-2: 3rem;
$heading-3: 2rem;
$heading-4: 1rem;
